<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>eAuction - Forgot Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body {
	font-family: Candara;
	color: darkblue;
}

div {
	
	height: 5em;
	align-items: center;
	justify-content: center
}

#button {
	font-family: Candara;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	border: 0;
	background-color: #6495ed;
	line-height: 2;
	width: 150px;
}

#errorSection {
	font-family: Candara;
	color: red;
}
</style>
</head>
<body>

	<div id="header">
		<center>
			<section>
				<p id="errorSection" th:text="${message}"></p>
			</section>
		</center>
	</div>

	<div id="actionsContainer">
		<center>
			<p style="font-size: 30px;">Forgot Password</p>
			<p>Fields marked with an * are mandatory</p>
			<form th:action="@{/user/recoverCredentials}">
				<table cellspacing="15px 15px">
					<tr>
						<td>
							<label id="textLabel">Username/Email *</label></td>
						<td>
							<input type="text" id="username" th:name="email" placeholder="Email address" maxlength="50" size="35px" tabindex="1" />
						</td>
					</tr>

					<tr></tr>
					<tr></tr>

					<tr>
						<td align=left>
							<input id="button" type="submit" value="Get Password" tabindex="2" />
						</td>
						
						<td align=right>
							<button id="button" type="button">
								<a th:href="@{/eAuctionHome}">eAuction Home</a>
							</button>
						</td>
					</tr>
				</table>
			</form>
		</center>
	</div>

</body>
</html>